button.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 60px;
    height: 60px;
    background-color: #cab86f;
    color: white;
    border: none;
    border-radius: 5px 0 0 5px; /* Left rounded corners */
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    margin-right: -1px; /* To overlap slightly with the input */
}

button.filter-button img {
    width: auto;
    height: 100%;
}

button.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 60px;
    height: 60px;
    background-color: #cab86f;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; /* Right rounded corners */
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}

button.search-button img {
    width: auto;
    height: 100%;
}

button.action-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #cab86f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    margin-top: 20px; /* To separate from the search group */
}

button.action-button:hover {
    background-color: #b8955d;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #cab86f;
    color: #1B263B;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #b8955d;
}

.scroll-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-icon span {
    font-size: 24px;
}
