.search-group {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 18px; /* Increased from 16px to 18px */
    border: 1px solid #ccc;
    border-radius: 0;
    text-align: center;
    background-color: #2E4053;
    color: #FFEEAA;
    border-right: none; /* No right border to blend with the search button */
}
