@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-color: #1B263B;
    min-height: 100vh;
    margin: 0;
    font-size: 2em;
    font-family: 'Dancing Script', serif;
    color: #FFEEAA;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin-top: 20px;
    color: #FFEEAA;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="text"] {
    width: calc(100% - 200px); /* Adjust width to fit with the filter button */
    padding: 10px;
    font-size: 18px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 10px auto;
    background-color: #2E4053;
    color: #FFEEAA;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    background-color: #cab86f;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px 5px;
    font-family: 'Dancing Script', cursive;
}

button:hover {
    background-color: #b8955d;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.selected-filters {
    margin: 10px 0;
}

.filter-span {
    display: inline-block;
    background-color: #cab86f;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}

.results {
    margin-top: 20px;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px 5px;
}

.dropbtn {
    background-color: #cab86f;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}

.dropbtn:hover {
    background-color: #b8955d;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(27, 38, 59, 0.9); /* Tono azul muy transparente */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #b8955d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #cab86f;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    display: none;
    z-index: 1000;
}

#scrollToTopBtn:hover {
    background-color: #b8955d;
}
