@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-color: #1B263B;
    min-height: 100vh;
    margin: 0;
    font-size: 2em;
    font-family: 'Dancing Script', serif;
    color: #FFEEAA;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin-top: 20px;
    color: #FFEEAA;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-group {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    text-align: center;
    background-color: #2E4053;
    color: #FFEEAA;
    border-right: none;
}

button.search-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #cab86f;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}

button.search-button:hover {
    background-color: #b8955d;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: -1px;
}

.dropbtn {
    background-color: #2E4053;
    color: #FFEEAA;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    border-right: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(203, 175, 99, 0.8);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #b8955d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button.action-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #cab86f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    margin: 10px 5px;
}

button.action-button:hover {
    background-color: #b8955d;
}

.results {
    margin-top: 20px;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFEEAA;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Dancing Script', cursive;
}

#scrollToTopBtn:hover {
    background-color: #b8955d;
}

.scroll-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-icon span {
    margin-left: 5px;
}
