/* Filter Button */
button.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 60px;
    height: 60px;
    background-color: #FFEEAA;
    color: white;
}

button.filter-button img {
    width: auto;
    height: 100%;
}
